#anisa{
  background-image: url("images/AnisaAbdulkadir.jpg")
}
#anna{
  background-image: url("images/AnnaSpringfield.jpg");
}
#besty{
  background-image: url("images/BestsyRowley.jpg");
}
#brianna{
  background-image: url("images/BriannaDickman.jpg");
}
#chris{
  background-image: url("images/ChrisKeller.jpg");
}
#claudia{
  background-image: url("images/ClaudiaMendez.jpg");
}
#craig{
  background-image: url("images/CraigBaird.jpg");
}
#dan{
  background-image: url("images/DanZera.jpg");
}
#emily{
  background-image: url("images/EmilyHoang.jpg");
}
#erin{
  background-image: url("images/ErinKinnen.jpg");
}
#keith{
  background-image: url("images/KeithTomlinson.jpg");
}
#kevin{
  background-image: url("images/KevinDahlberg.jpg");
}
#lisa{
  background-image: url("images/LisaSchoofs.jpg");
}
#logan{
  background-image: url("images/LoganKelly.jpg");
}
#nic{
  background-image: url("images/NicWilson.jpg");
}
#olga{
  background-image: url("images/OlgaEngels.jpg");
}
#teigen{
  background-image: url("images/TeigenLeonard.jpg");
}
#tiffany{
  background-image: url("images/TiffanyLove.jpg");
}
#y{
  background-image: url("images/YPaulSussman.jpg");
}
